@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MARINA</h1>First platform to manage marinas!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For who?</h2>
        <p>
            Marina Platform is for skippers, port owners and sailors who want to find their perfect boat!
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Explore Masuria Lakes!</h2>
        
        <p><a class="btn btn-default" href="http://www.lotmp.pl/images/page/mapa_atrakcji_str_1_big.jpg">See! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rent boats!</h2>
        <p> Experience a wonderful adventure with your friends and family</p>
        <p><a class="btn btn-default" href="http://zabawa.mazury.pl/wp-content/uploads/2015/04/a.jpg">See! &raquo;</a></p>
    </div>
</div>